.container {
  position: relative;
  height: 100%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  overflow: hidden;

  border: 2px solid tomato;

  @media screen and (min-width: 480px) {
    width: var(--s);
  }

  @media screen and (min-width: 768px) {
    width: var(--m);
    padding-left: 30px;
    padding-right: 30px;
    border: 2px solid green;
  }

  @media screen and (min-width: 1280px) {
    width: 1280px;
    padding-left: 32px;
    padding-right: 32px;
    border: 2px solid violet;
  }
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  max-width: 480px;
  height: 574px;

  background-image: url("../../../public/image/bg_image.png");
  background-size: cover;

  @media screen and (min-width: 768px) {
    max-width: 768px;
    height: 778px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 1440px;
    height: 800px;
  }
}
