.hero-section {
  text-align: center;
}

.hero-top-img {
  position: absolute;
  top: 70px;
  right: 203px;
  z-index: -1;
}

.hero-title {
  padding-top: 150px;
  padding-bottom: 254px;
  margin-bottom: 76px;

  font-family: "Anzeigen Grotesk T";
  font-size: 40px;
  font-weight: 500;
  line-height: 42px;
  text-transform: uppercase;
  color: var(--accent-color);
}

.hero-accent-text {
  color: var(--main-color);
}

.hero-bottom-img {
  position: absolute;
  top: 360px;
  left: 210px;
  z-index: -1;
}
