.about-section > h2 {
  margin-bottom: 16px;
}

.about-text {
  margin-bottom: 36px;
  text-align: justify;
  font-family: "Inter";
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: var(--extra-text-color);
}

@media screen and (min-width: 768px) {
  .about-text {
    width: 498px;
    margin: 0 auto 48px auto;
    text-align: center;
  }
}
