:root {
  /* breackpoints */
  --xs: 320px;
  --s: 480px;
  --m: 768px;
  --l: 1280px;

  /* colors */
  --main-color: #222222;
  --extra-text-color: #565148;
  --white-text-color: #fff;
  --form-text-color: #949494;
  --placeholder-text-color: #888888;
  --accent-color: #ed4b5e;
  --extra-accent-color: #ffeff0;
  --bg-color: #fff;
  --bg-grey-color: #444444;
  --bg-light-grey-color: #808080;
  --dot-accent-color: #000;
  --input-border-color: #d2d2d2;
}
