[class^="about-number-slide"],
[class*=" about-number-slide"] {
  max-height: 100vh;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  font-size: 50px;
  color: var(--white-text-color);
  font-weight: 500;
  height: 253px;
  border-radius: 24px;
  z-index: -1;
}

.about-card-title {
  margin-bottom: 55px;
  font-family: "Anzeigen Grotesk T";
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
}

.about-card-text {
  font-family: "Inter";
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
}

.about-number-slide1 {
  background: var(--accent-color);
}

.about-number-slide2 {
  background: var(--main-color);
}

.about-number-slide3 {
  background: var(--bg-grey-color);
}

.about-number-slide4 {
  background: var(--bg-light-grey-color);
}

.about-navigation-wrapper {
  position: relative;
  margin-bottom: 36px;
}

.about-dots {
  display: flex;
  padding: 10px 0;
  justify-content: center;
}

.about-dot {
  border: none;
  width: 10px;
  height: 10px;
  background: var(--bg-light-grey-color);
  border-radius: 50%;
  margin: 0 5px;
  padding: 5px;
  cursor: pointer;
}

.about-dot:focus {
  outline: none;
}

.about-dot.active {
  background: var(--dot-accent-color);
}

/* tablet view styles */

@media screen and (min-width: 768px) {
  .grid {
    display: grid;
    row-gap: 24px;
  }

  [class^="about-number-slide"],
  [class*=" about-number-slide"] {
    height: 287px;
    padding: 48px;
  }

  .about-card-title {
    margin-bottom: 40px;
    font-size: 40px;
    line-height: 0.8;
  }
  .about-card-text {
    width: 500px;
    font-size: 20px;
    line-height: 1.45;
  }
}

/* desktop view styles */

@media screen and (min-width: 1280px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 24px;
    column-gap: 24px;
  }

  [class^="about-number-slide"],
  [class*=" about-number-slide"] {
    height: 293px;
  }
}
