.bgmenu-container {
  height: 100%;
  background: var(--bg-color);
}
.bgmenu-wrap {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--main-color);
  letter-spacing: -0.64px;
  transition: color 0.4s;
}

.close-squere:hover path {
  stroke: var(--accent-color);
}

.nav-list {
  margin-top: 62px;

  font-family: "Anzeigen Grotesk T";
  font-size: 24px;
  font-weight: 500;
  line-height: 25px;
  text-align: center;
  text-transform: uppercase;

  & > li {
    margin-bottom: 24px;
  }
}

.nav-item:hover {
  color: var(--accent-color);
}
