.bgmenu-container {
  height: 100vh;
  width: 100%;
  padding-top: 30px;
  background: var(--bg-color);
}
.bgmenu-wrap {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--main-color);
  transition: color 0.4s;
}

.close-squere:hover path {
  stroke: var(--accent-color);
}

.nav-list {
  margin-top: 62px;

  font-family: "Anzeigen Grotesk T";
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  line-height: 0.8;

  & > li {
    margin-bottom: 24px;
  }
}

.nav-item:hover {
  color: var(--accent-color);
}

/* responsive */

@media screen and (min-width: 768px) {
  .nav-list {
    font-size: 40px;

    & > li {
      margin-bottom: 36px;
    }
  }
}

@media screen and (min-width: 1280px) {
  .bgmenu-container {
    padding-top: 37px;
  }

  .nav-list {
    font-size: 64px;

    & > li {
      margin-bottom: 48px;
    }
  }
}
