.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  margin: 0;
  padding: 30px 20px 0px 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  z-index: 3;
}

.header-menu-wrap {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: auto;
  padding: 1px 0;
}

.header-menu-wrap:hover {
  color: var(--accent-color);
  cursor: pointer;
  path {
    fill: var(--accent-color);
    stroke: var(--accent-color);
  }
}

.header-menu-text {
  font-family: "Anzeigen Grotesk T";
  font-size: 24px;
  font-weight: 500;
  line-height: 90%;
  letter-spacing: -1%;
  text-align: center;
  text-transform: uppercase;
}

.hidden-text {
  display: none;
}
